body {
  font-family: Arial, sans-serif;
  background: #f4f6f8;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 6px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

img {
  margin-top: 10px;
  width: 100px;
}

span {
  color: red;
  font-size: 12px;
}
